# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
r:
  - oldrel
  - release
  - devel
  
sudo: false
os:
  - linux
  - osx
  
cache: packages


Remotes: rOpenGov/iotables
